.service-icon {
  width: 5%;
}

.resume-section:not(:first-child) {
  border-top: 0.5rem solid var(--bs-secondary);
  margin-top: 1rem;
  padding-top: 2rem;
}

.resume-section .row {
  margin-bottom: 1rem;
}

.bg-gradient-light {
  background:         rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 40px 40px rgba(255,255,255, 0.5);
}

.bio-img {
  height: 500px;
}
.bio-img, .bio-img img {
  margin: auto;
}
.bio-img img {
  height: 100%;
}
/* GENERAL */
.phone {
  display: none;
}
.screen {
  display: block;
}

.shrink {
  --shrink-size: 35px;
  height: 200px;
  font-size: var(--shrink-size);
  line-height: var(--shrink-size);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.bio-content {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  padding-left: calc(14px + 2rem);
  padding-right: calc(0px + 2rem);
  text-align: justify;
}

.bio-content::-webkit-scrollbar {
  width: 14px;
}

.bio-content::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

.page-section, .footer {
  border-top: 0.5rem solid var(--bs-secondary);
}
.service:not(:first-child) {
  border-top: 0.375rem solid #e0dcc8;
}

.page-section h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

hr.divider {
  height: 300px;
  max-width: 5rem;
  margin: 1.5rem auto;
  background-color: var(--bs-primary);
  opacity: 1;
}

.text-justify {
  text-align: justify;
}

/* SERVICE */
#sectionService .row:nth-child(even) {
  flex-direction: row-reverse;
}

#sectionService > .row > * {
  padding: 0;
}

.service-img {
  min-height: 400px; /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: scroll !important;
}

.service-item {
  font-size: larger;
  padding: 64px !important;
}

.service-item > * {
  margin-bottom: 1.5rem !important;
}

.service-item > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.service-item > a::after {
  content: " \2192";
  transition: 1s;
}

.service-item > a:hover {
  color: var(--bs-blue);
}

.service-item > a:hover::after {
  margin-left: 2rem;
}

/* BIO */
#bio_container {
  padding: 3rem;
  width: 75vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.bio-portrait {
  min-height: 100%; /* Set a specific height */
  background-attachment: scroll; /* control the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/img/Hero-Portrait.png");
}

/*  PARALAX */
.parallaxBio {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.25)), url("../assets/img/bio_img.jpg");
}

.parallaxTestimonial {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5)), url("../assets/img/res.jpg");
}

.paralaxMasthead {
  background-image: url("../assets/img/landing6.png");
}

.parallaxResume {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.25)), url("../assets/img/res.jpg");
}

.parallaxTestimonial, .parallaxBio,
.paralaxMasthead, .parallaxResume {
  min-height: 100%; /* Set a specific height */
  background-attachment: fixed; /* control the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  HEADER */
.landing-icon p {
  font-weight: 900;
  font-size: 2rem;
}
.landing-icon {
  height: 100%;
  text-decoration: none !important;
  color: inherit !important;
}
.col-md-4:has(.landing-icon:hover) {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.landing-icon img {
  width: 36%;
}

.bg-landing {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 30%, rgb(60, 152, 238));
}
.masthead .bg-gradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)) !important;
}
.start-60 {
  left: 60%;
}

#landing-marty {
  z-index: 2;
  position: absolute;
  width: 40%;
  height: 95%;
}
#landing-marty img {
  height: 100%;
}

#mast-content {
  width: 69%;
}

#mast-content .row:not(:first-child) {
  --distance: 149px;
  margin-top: var(--distance);
}
#mast-content .row:not(:last-child) {
  --distance: 149px;
  margin-bottom: var(--distance);
}

.landing-next {
  color: var(--bs-primary);
}

.landing-line {
  max-width: 5rem !important;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: #e5cdaf;
  margin-left: auto;
  margin-right: auto;
}

header.masthead {
  height: 100vh;
  position: relative;
  color: black;
  padding-top: 5rem;
}

header.masthead .masthead-subheading {
  font-size: 60px;
  padding: 10px;
  font-weight: 400;
}

header.masthead .masthead-heading {
  font-size: 75px;
  font-weight: 900;
  line-height: 4rem;
}



/* FOOTER */
.footer {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer .container * {
  margin: 0;
}

/* CONTACT */
.contact-image,
.contact-image img {
  margin: auto;
  width: 500px;
}

/* MEDIA */
@media (max-width: 400px) {
  .bio-img img {
    width: 100% !important;
    height: auto !important;
  }
  .bio-img {
    height: auto !important;
  }
}
@media (max-width: 575px) {
  .contact-image,
  .contact-image img {
      width: 100% !important;
  }
  .contact-image h3 {
    font-size: 1rem !important;
  }

  /* HEADER */
  .landing-icon {
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
  }

  header.masthead .masthead-heading {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  header.masthead .masthead-subheading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .service-icon {
    width: 30px;
  }
  /* HEADER */
  .landing-icon img {
    height: 51px !important;
    width: 51px !important;

  }
  .landing-icon {
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
  }

  .phone {
    display: block !important;
  }
  .screen {
    display: none !important;
  }

  .phone .row {
    --distance-phone-icon: 1rem;
    margin-top: var(--distance-phone-icon) !important;
    margin-bottom: var(--distance-phone-icon) !important;
  }

  #mast-content .row:not(:first-child) {
    --distance: 20px;
    margin-top: var(--distance);
  }
  #mast-content .row:not(:last-child) {
    --distance: 20px;
    margin-bottom: var(--distance);
  }

}
@media (max-width: 991px) {
}
@media (max-width: 1199px) {
  /**** BIO ****/
  .bio-content {
    text-align: left;
  }

  /**** HEADER ****/
  .bg-landing {
    background: rgba(255, 255, 255, 0.5);
  }
  #landing-marty {
    z-index: 0;
    left: 0;
    width: 100%;  
  }
  #mast-content {
    width: 100%;
  }
  
  /**** NAVBAR ****/
  .navbar:has(div):has(.navbar-toggler[aria-expanded="true"]) {
    background-color: var(--bs-primary) !important;
  }
  .navbar :is(.nav-link, .navbar-brand)
   {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .nav-divider {
    display: none !important;
  }
}

@media (max-width: 1299px){
  #bio_container {
    width: 100% !important;
    padding: 1rem ;
  }
}

.bg-nav {
  background-color: #e5cdaf;
}

/*
.blockquote span:before,
.blockquote span:after {
 content: '"';
}
*/