/* GENERAL */
.shrink {
  font-size: 64px;
  line-height: 2.5rem;
}

.bio-content {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 1200px) {
  .bio-content {
  }
  #bio_container {
    width: 100vw !important;
  }
}

section, .footer {
  border-top: 0.5rem solid var(--bs-primary);
}

.page-section h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

hr.divider {
  height: 300px;
  max-width: 5rem;
  margin: 1.5rem auto;
  background-color: var(--bs-primary);
  opacity: 1;
}

.text-justify {
  text-align: justify;
}

/* SERVICE */
#sectionService > .row:nth-child(even) {
  flex-direction: row-reverse;
}

#sectionService > .row > * {
  padding: 0;
}

.service-img {
  min-height: 400px; /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: scroll !important;
}

/*
.service-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.service-img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
*/
.service-item {
  font-size: larger;
  padding: 64px !important;
}

.service-item > * {
  margin-bottom: 1.5rem !important;
}

.service-item > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.service-item > a::after {
  content: " \2192";
  transition: 1s;
}

.service-item > a:hover {
  color: var(--bs-blue);
}

.service-item > a:hover::after {
  margin-left: 2rem;
}

/* BIO */
#bio_container {
  padding: 3rem;
  width: 75vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
}

/*  PARALAX */
.parallaxBio {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.25)), url("../assets/img/bio_img.jpg");
}

.parallaxTestimonial {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.25)), url("../assets/img/landing.webp");
}

.paralaxMasthead {
  background-image: url("../assets/img/landing6.png");
  
}

.parallaxTestimonial, .parallaxBio,
.paralaxMasthead {
  min-height: 100%; /* Set a specific height */
  background-attachment: fixed; /* control the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  HEADER */
.landing-icon {
  font-weight: 900;
}

.bg-landing {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5) 30%, var(--bs-primary));
  background-attachment: fixed; /* control the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

#landing-marty {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
#mast-content {
  margin-left: 0;
  width: 60%;
}
@media (max-width: 1200px) {
  #landing-marty {
    z-index: 0;
    left: 0;
    width: 100%;  
  } 
  #mast-content {
    width: 100%;
  }
}
.landing-next {
  color: var(--bs-primary);
}

.landing-line {
  max-width: 5rem !important;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #e5cdaf;
  margin-left: auto;
  margin-right: auto;
}
/*
height: 300px;
max-width: 5rem;
margin: 1.5rem auto;
background-color: var(--bs-primary);
opacity: 1;
*/
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

header.masthead {
  height: 100vh;
  position: relative;
  color: black;
  padding-top: 50px;
}

.masthead .bg-gradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)) !important;
}

header.masthead .masthead-subheading {
  font-size: 3.5rem;
  padding: 10px;
  font-weight: 400;
}

header.masthead .masthead-heading {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 5rem;
}

.landing-service-icon {
  margin-top: 5rem;
}
/* FOOTER */
.footer {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer .container * {
  margin: 0;
}

/* MEDIA */
.landing-service-icon {
  width: 50%;
}
@media (max-width: 992px) {
  /* HEADER */
  header.masthead {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  header.masthead .masthead-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  .landing-service-icon {
    margin-top: 1.5rem;
    width: 25%;
  }
  .landing-line {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/*
@media (min-width: 1200px) {
  #bio_container {
    width: 100%;
    padding: 0 ;
  }
  #sectionService .row {
    height: 100vh;
  }
  .hide-phone {
    visibility: hidden;
  }
}
*/
.mask {
  -webkit-mask-image: url("../assets/img/landing4.png");
  mask-image: url("../assets/img/landing4.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.contact-img {
  min-height: 600px; /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: scroll !important;
  background-image: url("../assets/img/landing4.png"); 
}